
#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 100px;
    margin-bottom:40px;
    text-align: center;
    font-size: 72px;
    font-family: 'Cardo', serif;
  }
  h2 {
    font-family: 'Cardo', serif;
    text-align: center;
    font-size:24px;

  }
  .headImg {
    margin: 0 auto;
    width: 400px;
    display: block;
  }
}

