<div class="well well-lg">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in orderProducts track by $index">
        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
        <td>{{ product.name }}</td>
        <td>{{ product.qty }}</td>
        <td>${{ product.totalPrice }}</td>
        <td>
            <div class="form-group">
                <select class="form-control" ng-model="productQty" id="select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option> 
                    <option value="9">9</option> 
                    <option value="10">10</option>                   
                </select>
            </div>
        <td>
            <button type="button" class="btn btn-default btn-sm" ng-click="updateOrderProduct(product.orderId, product.productId, productQty, $index)">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
        <tr><td>Total:</td></tr>
    </tbody>

  </table>
</div>