navbar {

  display: block;
  background: #F3FAFF;
  border-bottom: 1px solid #C1CBD2;
  height: 70px;


  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 10px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: #6A6A6A;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: #649BC3;
    }
    &:hover {
      background: none;
      color: lighten(#6A6A6A, 10%);
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: #596A77;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #949A9F;
      cursor: pointer;
    }
  }

}
