* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'cart/main';
@import 'products/main';
@import 'product/main';
@import 'signup/main';
@import 'account/main';
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto);
